.slidingMenuView {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.slidingMenuView .menu {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.slidingMenuView .container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  z-index: 0;
}
.slidingMenuView .container .content {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
}
.slidingMenuView .container.animated {
  transition: -webkit-transform 0.3s ease-in-out;
}
.slidingMenuView .container .header {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  background-color: #fff;
  z-index: 1;
}
.slidingMenuView .container .header .burger {
  display: inline-block;
  cursor: pointer;
  font-size: 20pt;
  padding: 10px;
}
.slidingMenuView .container .header .headerContent {
  display: inline-block;
}
